:root{

    /* colors */
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19276d;
    --color-dark: #0b2447;
    --color-bg: #12042d;

    /* Fonts */
    --font-roboto: "Roboto";
}